@font-face {
    font-family: 'Bebas Neue';
    src: url(/FONT/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bebas Neue;
}

.psa {
    position: absolute;
}

.psr {
    position: relative;
}

.op80{
    background-color: black;
    opacity: 0.8;
}

.db {
    display: block;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.t0 {
    top: 0;
}

.l0 {
    left: 0;
}

.shadow-mask {
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: 4;
}