@media (max-width: 1050px) {

    .mainbox-container, .videobox-container {
        width: 50%;
    }

    .video-box1, .video-box2, .video-box3, .video-box4 { 
        width: 100%;
        height: 25vh;
    }
}

@media (max-width: 700px) {

    .video-box1, .video-box2, .video-box3, .video-box4 { 
        width: 100%;
        height: 25vh;
    }

    .homepage-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .mainbox-container, .videobox-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 50vh;
    }

    .yellow-line {
        width: 100%;
        height: 3px;
        background-color: yellow;
        z-index: 1;
    }
}