@import "commons.scss";


// *------------------------------------------------* //
// *---------  MAIN LEFT HOMEPAGE SECTION  ---------* //
// *------------------------------------------------* //


.homepage-container {
    display: flex;
    position: relative;
    background-color: #171717;
            
    .mainbox-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        z-index: 1;
        width: 37.5%;
        height: 100vh;

        .main-box{
            width: 100%;
            overflow: hidden; 
            position: relative;
            height: 100vh;

            .firstname {
                margin: 25px 0 0 35px;
            }
            
            .lastname {
                margin: -40px 0 0 35px;
            }

            h1 {
                color: yellow;
                font-size: 100px;
            }

            a {
                color: yellow;
                font-size: 35px;
                list-style-type: none;
                text-decoration: none;

                & :hover {
                    color: white;
                }

                h2 {
                    margin: 10px 0 -5px 35px;
                }
            }

            .job-title {
                color: yellow;
                bottom: 0;
                right: 0;
                font-size: 35px;
                text-align: right;
                margin: 0 35px 25px 0;

                .job1, .job2 {
                    margin-bottom: -18px;
                }
            }

            #video-title1 {
                display: none;
                font-size: 50px;
                margin:40px 25px 0 0;
                right: 0;
                writing-mode: vertical-rl;
            }

            #video-one {
                height: 100%;
                margin-left: -300px;
            }
        }
    }
}

.box-shadow {
    box-shadow: 3px 0 30px (rgb(0, 0, 0));
}


// *--------  MAIN LEFT HOMEPAGE SECTION MEDIA QUERIES  --------* //


@media (max-width: 1360px) {

    .homepage-container {
        
        .mainbox-container {
            
            .main-box {

                h1 {
                    font-size: 75px;
                }
                
                .lastname {
                    margin: -28px 0 0 35px;
                }

                nav {

                    ul {
                        font-size: 32px;
                    }
                }

                .job-title {
                    font-size: 32px;

                    .job1, .job2 {
                        margin-bottom: -16px;
                    }
                }

                #video-one {
                    margin-left: -350px;
                }
            }
        }
    }
}



@media (max-width: 1090px) {

    .homepage-container {
        
        .mainbox-container {
            width: 50%;

            .main-box {

                h1 {
                    font-size: 85px;
                }
                
                .lastname {
                    margin: -35px 0 0 35px;
                }

                nav {

                    ul {
                        font-size: 35px;
                    }
                }

                .job-title {
                    font-size: 35px;

                    .job1, .job2 {
                        margin-bottom: -19px;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {

    .homepage-container {
        
        .mainbox-container {
            width: 50%;

            .main-box {

                h1 {
                    font-size: 70px;
                }
                
                .lastname {
                    margin: -25px 0 0 35px;
                }

                nav {

                    ul {
                        font-size: 30px;
                    }
                }

                .job-title {
                    font-size: 30px;

                    .job1, .job2 {
                        margin-bottom: -15px;
                    }
                }

                #video-one {
                    margin-left: -400px;
                }
            }
        }
    }
}

@media (max-width: 800px) {

    .homepage-container {
        
        .mainbox-container {
            width: 50%;

            .main-box {

                h1 {
                    font-size: 57px;
                }
                
                .lastname {
                    margin: -22px 0 0 35px;
                }

                nav {

                    ul {
                        font-size: 25px;
                    }
                }

                .job-title {
                    font-size: 25px;

                    .job1, .job2 {
                        margin-bottom: -12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {

    .homepage-container {
        display: flex;
        flex-direction: column;
        position: relative;

        .mainbox-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: 100vh;

            .main-box {
    
                h1 {
                    font-size: 98px;
                }
                
                .lastname {
                    margin: -40px 0 0 35px;
                }
    
                nav {
    
                    ul {
                        font-size: 38px;
                    }
                }
    
                .job-title {
                    font-size: 38px;
    
                    .job1, .job2 {
                        margin-bottom: -20px;
                    }
                }

                #video-title1 {
                    margin:43px 25px 0 0;
                }

                #video-one {
                    margin-left: -300px;
                }
            }
        }
    }
}

@media (max-width: 500px) {

    .homepage-container {

        .mainbox-container {

            .main-box {
    
                h1 {
                    font-size: 70px;
                }
                
                .firstname {
                    margin: 20px 0 0 25px;
                }
                .lastname {
                    margin: -30px 0 0 25px;
                }
    
                nav {
    
                    ul {
                        font-size: 30px;
                        margin: 10px 0 0 25px;
                    }
                }
    
                .job-title {
                    font-size: 30px;
                    margin: 0 25px 15px 0;

    
                    .job1, .job2 {
                        margin-bottom: -17px;
                    }
                }

                #video-title1 {
                    margin:31px 15px 0 0;
                }

                #video-one {
                    margin-left: -380px;
                }
            }
        }
    }
}

@media (max-width: 400px) {

    .homepage-container {

        .mainbox-container {

            .main-box {
    
                h1 {
                    font-size: 70px;
                }
                
                .firstname {
                    margin: 20px 0 0 25px;
                }
                .lastname {
                    margin: -30px 0 0 25px;
                }
    
                nav {
    
                    ul {
                        font-size: 30px;
                        margin: 10px 0 0 25px;
                    }
                }
    
                .job-title {
                    font-size: 30px;
                    margin: 0 25px 15px 0;

    
                    .job1, .job2 {
                        margin-bottom: -17px;
                    }
                }

                #video-title1 {
                    margin:31px 15px 0 0;
                }

                #video-one {
                    margin-left: -380px;
                }
            }
        }
    }
}


// *---------------------------------------------------* //
// *------  MAIN RIGHT SQUARES HOMEPAGE SECTION  ------* //
// *---------------------------------------------------* //


.videobox-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 62.5%;
    height: 100vh;
    
    .video-box {
        width: 50%;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 50vh;       

        .box-title {
            color: yellow;
            top: 0;
            left: 0;
            font-size: 30px;
            text-align: center;
            margin: 10px 0 0 15px;
            z-index: 2;
        }

        .mouseenter-title{
            color: white !important;
        }
    }
       
    .video-box2 {
        opacity: 0.7; 

        #video-two {
            height: 100%;
            transform: translateX(-15%);
        }
    }

    .video-box3 {
        opacity: 0.7;
        
        #video-three {
            height: 100%;
        }
    }
    
    .video-box4 {
        opacity: 0.7; 

        #video-four {
            height: 100%;
        }
    }
    
    .video-box5 {
        opacity: 0.7; 

        #video-five {
            height: 100%;
        }
    } 

    #video-title2 {
        display: none;
        font-size: 50px;
        margin:40px 0 0 28px;
        writing-mode: vertical-lr;
    }
    
    #video-title3 {
        display: none;
        font-size: 50px;
        margin:40px 0 0 28px;
        writing-mode: vertical-lr;
    }
    
    #video-title4 {
        display: none;
        font-size: 50px;
        margin:40px 0 0 28px;
        writing-mode: vertical-lr;
    }
    
    #video-title5 {
        display: none;
        font-size: 50px;
        margin:40px 0 0 28px;
        writing-mode: vertical-lr;
    }
} 



// *----  MAIN RIGHT SQUARES HOMEPAGE SECTION MEDIA QUERIES ----* //


@media (max-width: 1090px) {

    .videobox-container {
        width: 50%;

        
        .video-box2 {
            width: 100%;
            height: 25vh; 
    
            #video-two {
                width: 100%;
                height: auto; // override the height 100% no media queries
                transform: none;
            }
        }
    
        .video-box3 { 
            width: 100%;
            height: 25vh;
            
            #video-three {
                width: 100%;
                height: auto;
            }
        }
        
        .video-box4 {
            width: 100%;
            height: 25vh;
    
            #video-four {
                width: 100%;
                height: auto;
            }
        }
        
        .video-box5 {
            width: 100%;
            height: 25vh; 
    
            #video-five {
                width: 100%;
                height: auto;
            }
        }
        
        #video-title2 {
            font-size: 50px;
            margin:27px 0 0 28px;
            writing-mode: horizontal-tb;
        }
        
        #video-title3 {
            font-size: 50px;
            margin:27px 0 0 28px;
            writing-mode: horizontal-tb;
        }
        
        #video-title4 {
            font-size: 50px;
            margin:27px 0 0 28px;
            writing-mode: horizontal-tb;
        }
        
        #video-title5 {
            font-size: 50px;
            margin:27px 0 0 28px;
            writing-mode: horizontal-tb;
        }
        
    }
}

@media (max-width: 900px) {

    .videobox-container {
        
        .video-box2 {
    
            #video-two {
                width: auto;
                height: 100%; // override the height 100% no media queries
            }
        }
    
        .video-box3 { 
            
            #video-three {
                width: auto;
                height: 100%;
            }
        }
        
        .video-box4 {
    
            #video-four {
                width: auto;
                height: 100%;
            }
        }
        
        .video-box5 {
    
            #video-five {
                width: auto;
                height: 100%;
            }
        }

        #video-title2 {
            font-size: 45px;
        }
        
        #video-title3 {
            font-size: 45px;
        }
        
        #video-title4 {
            font-size: 45px;
        }
        
        #video-title5 {
            font-size: 45px;
        }
    }
}

@media (max-width: 700px) {
    
    .videobox-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100vh;
        
        .video-box2, .video-box3, .video-box4, .video-box5 { 
            width: 100%;
            height: 50vh;
        }

        #video-title2 {
            font-size: 60px;
            writing-mode: vertical-lr;
        }
        
        #video-title3 {
            font-size: 60px;
            writing-mode: vertical-lr;
        }
        
        #video-title4 {
            font-size: 60px;
            writing-mode: vertical-lr;
        }
        
        #video-title5 {
            font-size: 60px;
            writing-mode: vertical-lr;
        }
    }
}

@media (max-width: 500px) {
    
    .videobox-container {

        #video-title2 {
            font-size: 50px;
            margin: 25px 0 0 15px;
        }
        
        #video-title3 {
            font-size: 50px;
            margin: 25px 0 0 15px;
        }
        
        #video-title4 {
            font-size: 50px;
            margin: 25px 0 0 15px;
        }
        
        #video-title5 {
            font-size: 50px;
            margin: 25px 0 0 15px;
        }
    }
}


// *---------------------------------------------------* //
// *------------  YOUTUBE PROJECTS PAGES  -------------* //
// *---------------------------------------------------* //


.youtube-fullpage {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.hider-top {
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    background-color: #171717;
}


.left-container {
    display: flex;
    justify-content: left;
    font-size: 30px;
    list-style: none;
    margin: 22px 0 0 30px;

    a, p {
        text-decoration: none;
        color: yellow;

        &:hover {
            color: white;
        }
    }

    span li {
        color: white;
    }
}


// *--------  YOUTUBE PROJECT PAGE MEDIA QUERIES -------* //


@media (max-width: 600px) {

    .left-container {
        justify-content: left;
        margin: 23px 0 0 10px;
        font-size: 27px;

        span li {
            display: none;
        }
    }
}






// *---------------------------------------------------* //
// *-----------------  CONTACT PAGE  ------------------* //
// *---------------------------------------------------* //


.videobox-container-contact {

    width: 62.5%;

    .contact-container {
        text-align: center;    
        
        img {
        width: 400px;
        margin-bottom: 50px;
        }

        h1 {

            margin-top: 30px;

            a {
                font-size: 40px;
                text-decoration: none;
                color: yellow;

                &:hover {
                    color: white;
                } 
            }
        }

        .instagram {
            width: 35px;
            margin-top: 10px;
        }
    }
}

// *-------------  CONTACT PAGE MEDIA QUERIES -----------* //

@media (max-width: 1090px) {
    
    .videobox-container-contact {

        .contact-container {
    
            h1 {
        
                a {
                    font-size: 32px;
                }
            }
    
            .instagram {
                width: 30px;
            }
        }
    }
}

@media (max-width: 900px) {
    
    .videobox-container-contact {

        .contact-container {
            
            img {
            width: 250px;
            margin-bottom: 20px;
            }
    
            h1 {
    
                margin-top: 10px;
    
                a {
                    font-size: 25px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    
    .videobox-container-contact {

        width: 100%;
        height: 100vh;

        .contact-container {
            
            img {
            width: 400px;
            margin-bottom: 50px;
            }
    
            h1 {
    
                margin-top: 30px;
    
                a {
                    font-size: 40px;
                }
            }
    
            .instagram {
                width: 50px;
            }
        }
    }
}

@media (max-width: 580px) {
    
    .videobox-container-contact {

        .contact-container {
            
            img {
            width: 300px;
            margin-bottom: 40px;
            }
    
            h1 {
    
                margin-top: 20px;
    
                a {
                    font-size: 30px;
                }
            }
    
            .instagram {
                width: 35px;
            }
        }
    }
}

@media (max-width: 450px) {
    
    .videobox-container-contact {

        .contact-container {
            
            img {
            width: 300px;
            margin-bottom: 40px;
            }
    
            h1 {
    
                margin-top: 20px;
    
                a {
                    font-size: 24px;
                }
            }
    
            .instagram {
                width: 35px;
            }
        }
    }
}