@font-face {
  font-family: "Bebas Neue";
  src: url(/FONT/BebasNeue-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bebas Neue;
}

.psa {
  position: absolute;
}

.psr {
  position: relative;
}

.op80 {
  background-color: black;
  opacity: 0.8;
}

.db {
  display: block;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.t0 {
  top: 0;
}

.l0 {
  left: 0;
}

.display-none {
  display: none;
}

.shadow5 {
  opacity: 0.5;
}

.homepage-container {
  display: flex;
  position: relative;
  background-color: #171717;
}
.homepage-container .mainbox-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 37.5%;
  height: 100vh;
}
.homepage-container .mainbox-container .main-box {
  width: 100%;
  overflow: hidden;
  background-image: url("/Medias/Sombrero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  position: relative;
  height: 100vh;
}
.homepage-container .mainbox-container .main-box .firstname {
  margin: 25px 0 0 35px;
}
.homepage-container .mainbox-container .main-box .lastname {
  margin: -25px 0 0 35px;
}
.homepage-container .mainbox-container .main-box h1 {
  color: yellow;
  font-size: 80px;
}
.homepage-container .mainbox-container .main-box nav ul {
  color: yellow;
  font-size: 25px;
  margin: 20px 0 0 35px;
  list-style-type: none;
}
.homepage-container .mainbox-container .main-box nav ul h2 {
  margin-bottom: -5px;
}
.homepage-container .mainbox-container .main-box nav ul a {
  text-decoration: none;
  color: yellow;
}
.homepage-container .mainbox-container .main-box nav ul a:hover {
  color: white;
}
.homepage-container .mainbox-container .main-box nav ul .instagram {
  width: 45px;
  margin-top: 10px;
}
.homepage-container .mainbox-container .main-box .job-title {
  color: yellow;
  bottom: 0;
  right: 0;
  font-size: 30px;
  text-align: right;
  margin: 0 35px 25px 0;
}
.homepage-container .mainbox-container .main-box .job-title .job1, .homepage-container .mainbox-container .main-box .job-title .job2 {
  margin-bottom: -10px;
}
.homepage-container .mainbox-container .main-box .yellow-line {
  width: 3px;
  height: 100vh;
  background-color: yellow;
}

.box-shadow {
  box-shadow: 10px 0 20px black;
}

@media (max-width: 1050px) {
  .homepage-container .mainbox-container {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .homepage-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .homepage-container .mainbox-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
  }

  .yellow-line {
    width: 100%;
    height: 3px;
    background-color: yellow;
    z-index: 1;
  }
}
.videobox-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 62.5%;
  height: 100vh;
}
.videobox-container .video-box {
  width: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 50vh;
}
.videobox-container .video-box .box-title {
  color: yellow;
  top: 0;
  left: 0;
  font-size: 30px;
  text-align: center;
  margin: 10px 0 0 15px;
  z-index: 2;
}
.videobox-container .video-box .mouseenter-title {
  color: white !important;
}
.videobox-container .video-box1 {
  background-position-x: 60%;
  background-image: url("/");
}
.videobox-container .video-box2 {
  background-image: url("/");
}
.videobox-container .video-box3 {
  background-image: url("/");
  background-position-x: 60%;
}
.videobox-container .video-box4 {
  transform: translateX(-20%);
  height: 100%;
}

.videobox-container-contact {
  width: 62.5%;
}
.videobox-container-contact .contact-container {
  text-align: center;
}
.videobox-container-contact .contact-container img {
  width: 400px;
  margin-bottom: 60px;
}
.videobox-container-contact .contact-container h1 {
  color: yellow;
  margin-top: 60px;
}

@media (max-width: 1050px) {
  .videobox-container {
    width: 50%;
  }
  .videobox-container .video-box {
    width: 100%;
    height: 25vh;
  }
  .videobox-container .video-box img {
    width: 100%;
    height: auto;
  }
  .videobox-container .video-box1, .videobox-container .video-box2, .videobox-container .video-box3 {
    width: 100%;
    height: 25vh;
  }
  .videobox-container .video-box4 {
    transform: none;
  }
}
@media (max-width: 700px) {
  .videobox-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
  }
  .videobox-container .video-box1, .videobox-container .video-box2, .videobox-container .video-box3, .videobox-container .video-box4 {
    width: 100%;
    height: 50vh;
  }
}

/*# sourceMappingURL=styles.css.map */
