@import "responsive-queries.scss";

@font-face {
    font-family: 'Bebas Neue';
    src: url(/FONT/BebasNeue-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Bebas Neue;
    color: yellow;
    font-size: 80px;
}

.psa {
    position: absolute;
}

.op80{
    background-color: black;
    opacity: 0.8;
}

.db {
    display: block;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.t0 {
    top: 0;
}

.l0 {
    left: 0;
}

.homepage-container {
    display: flex;
    position: relative;
}

.firstname {
    margin: 15px 0 0 25px;
}

.lastname {
    margin: -25px 0 0 25px;
}

.mainbox-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 37.5%;
    height: 100vh;
}

.yellow-line {
    width: 3px;
    height: 100vh;
    background-color: yellow;
}

.videobox-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 62.5%;
    height: 100vh;
}

.main-box{
    width: 100%;
    overflow: hidden; 
    background-image: url("/Medias/Sombrero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    position: relative;
    height: 100vh;
}

.video-box {
    width: 50%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
}

.video-box1 {
    background-image: url("/Medias/LeoFiftyFive.jpg");
    background-position-x: 60%;
}

.video-box2 {
    background-image: url("/Medias/JaaRose.jpg");

}

.video-box3 {
    background-image: url("/Medias/RovskiFeatFeloche.jpg");
    background-position-x: 60%;

}

.video-box4 {
    background-image: url("/Medias/LedgerTuto.jpg");
    background-position-x: 45%;

}

@media (max-width: 1050px) {

    .mainbox-container, .videobox-container {
        width: 50%;
    }

    .video-box1, .video-box2, .video-box3, .video-box4 { 
        width: 100%;
        height: 25vh;
    }
}

@media (max-width: 700px) {

    .video-box1, .video-box2, .video-box3, .video-box4 { 
        width: 100%;
        height: 25vh;
    }

    .homepage-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .mainbox-container, .videobox-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 50vh;
    }

    .yellow-line {
        width: 100%;
        height: 3px;
        background-color: yellow;
        z-index: 1;
    }
}