.white {
    color: white !important;
}

.videobox-container-contact {
    width: 62.5%;

    .contact-container {
        text-align: center; 
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .bio {
            color: yellow;
            font-size: 22px;
            letter-spacing: 0.7px;
            text-align: center;
            margin-bottom: 30px;
            width: 80%;
            font-weight: 900;

            @media (max-width: 1100px) {
                font-size: 20px;
            }
        }
        
        img {
            width: 400px;
            margin-bottom: 50px;
        }

        h1 {

            margin-top: 30px;

            a {
                font-size: 40px;
                text-decoration: none;
                color: yellow;

                &:hover {
                    color: white;
                } 
            }
        }

        .contact-links {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            
            .instagram {
                width: 35px;
                margin: 10px 10px 0 0;
            }

            a {
                button {
                    width: 100px;
                    height: 35px;
                    font-size: 18px;
                    background-color: yellow;
                    border: none;
                    border-radius: 5px;
                    margin: 10px 0 0 10px;
                    padding-top: 2px;
                }
            }
        }
    }
}

// *-------------  CONTACT PAGE MEDIA QUERIES -----------* //

@media (max-width: 1090px) {
    
    .videobox-container-contact {
        .contact-container {
            h1 {
        
                a {
                    font-size: 32px;
                }
            }

            .contact-links {
                .instagram {
                    width: 30px;
                }
                
                a {
                    button {
                        width: 80px;
                        height: 30px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    
    .videobox-container-contact {
        .contact-container {
            img {
            width: 250px;
            margin-bottom: 20px;
            }
    
            h1 {
    
                margin-top: 10px;
    
                a {
                    font-size: 25px;
                }
            }

            .contact-links {
                .instagram {
                    margin: 20px 10px 0 0;
                }
                
                a {
                    button {
                        margin: 20px 0 0 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .videobox-container-contact {
        width: 100%;
        height: 100vh;

        .contact-container {
            img {
            width: 400px;
            margin-bottom: 50px;
            }
    
            h1 {
    
                margin-top: 30px;
    
                a {
                    font-size: 40px;
                }
            }
    
            .instagram {
                width: 50px;
            }
        }
    }
}

@media (max-width: 580px) {
    .videobox-container-contact {
        .contact-container {
            img {
            width: 300px;
            margin-bottom: 40px;
            }
    
            h1 {
    
                margin-top: 20px;
    
                a {
                    font-size: 30px;
                }
            }
    
            .instagram {
                width: 35px;
            }
        }
    }
}

@media (max-width: 450px) {
    .videobox-container-contact {
        .contact-container {
            img {
                width: 300px;
                margin-bottom: 40px;
            }
    
            h1 {
                margin-top: 20px;
    
                a {
                    font-size: 24px;
                }
            }
    
            .instagram {
                width: 35px;
            }
        }
    }
}

@media (max-width: 400px) {
    .videobox-container-contact {
        .contact-container {
            .bio {
                font-size: 17px;
            }
        }
    }
}